{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    <style>
        .custom-color {
            color: black;
            transition: color 0.3s; /* Add transition effect */
        }

        .custom-color:hover {
            color: #800000; /* Change color on hover */
        }
    </style>

    <h1 class="custom-color">Create Post</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default custom-color">Save</button>
    </form>
{% endblock content %}
